<app-home-nav-menu></app-home-nav-menu>
<div class="container">
  <div class="jumbotron background">
    <div class="transparent p-3">
      <h1 class="text-light">BlackJack</h1>
    <label class="text-light">
      This is one of the most famous card games in the world,
      which is gaining popularity due to its not complicated rules and quick counting of cardboard.
    </label>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <button class="btn-lg btn-dark app-btn app-btn-min-width" (click)="onAppStoreClick()">
          <img src="../../assets/img/apple-logo.png" /> Get it on App Store
        </button>
        <button class="btn-lg btn-dark app-btn app-btn-min-width" (click)="onGooglePlayClick()">
          <img src="../../assets/img/play-store-logo.png" /> Get it on Google Play
        </button>
      </div>
      <div class="col-sm-5">
        <button class="btn-lg btn-dark app-btn float-right" (click)="onPlayClick()">Let's play</button>
      </div>
    </div>
  </div>
</div>
