.custom-range::-webkit-slider-thumb {
    background: var(--dark);
}
.btn-min-width {
    min-width: 130px;
}

.panel-heading {
    background-color: #343a40;
    color: #fff;
    border-color: #343a40;
}
.border-dark {
    border: 1px solid;
    border-color: #343a40;
}