.card-symbol {
  margin: 0;
  font-size: 1rem;
  width: inherit;
  display: block;
}
.card-symbol-rotate {
  -webkit-transform: rotate(180deg)
}

.playing-card {
  margin-right: -50px;
  background-color: #fff;
  margin-bottom: -80px;
}
.playing-card img {
  width: 100px;
}
