<button class="btn btn-dark m-3" (click)="onBackToHistoryClick()">< Back to history</button>
<div class="row justify-content-center mt-2">
  <div class="col-sm-12 col-md-11 border-dark rounded mb-3">
    <div class="row block-header border-dark rounded-top p-3">
      <div class="col-sm-6">#{{ gameDetails?.gameId }}</div>
      <div *ngIf="gameDetails?.finished" class="col-sm-6 text-right">Finished</div>
    </div>
    <div class="row p-3 border-top-dark">
      <div class="col-sm-6">
        <label class="d-block m-0 font-weight-bold">{{ getDealer().name }} </label>
        <h4 *ngIf="dealerHasBlackJackOrLose()"><span class="badge badge-dark"> {{ getStatus(getDealer().status) }}</span></h4>
        <label class="d-block m-0">Points: <label class="font-italic m-0">{{ getDealer().points }}</label></label>
      </div>
      <div class="col-sm-6">
        <app-playing-cards [cards]="getDealer().cards"></app-playing-cards>
      </div>
    </div>
    <div class="row p-3 border-top-dark" *ngFor="let player of getPlayers()">
      <div class="col-sm-6">
        <label class="d-block m-0 font-weight-bold">{{ player.name }} </label>
        <h4><span class="badge badge-dark"> {{ getStatus(player.status) }}</span></h4>
        <label class="d-block m-0">Points: <label class="font-italic m-0">{{ player.points }}</label></label>
      </div>
      <div class="col-sm-6">
        <app-playing-cards [cards]="player?.cards"></app-playing-cards>
      </div>
    </div>
  </div>
</div>
