<nav class='navbar navbar-expand-sm bg-dark navbar-dark'>
  <a class="navbar-brand" routerLink=''>BlackJack</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <div class="navbar-nav">
      <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home</a>
      <a class="nav-link" routerLink='/game' routerLinkActive='active'>Game</a>
      <a class="nav-link" routerLink='/history' routerLinkActive='active'>History</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" (click)="logOut()">Log out</a>
    </div>
  </div>
</nav>
