<div class="row-sm-10 justify-content-center mt-5">
  <div class="col-sm-12 col-md-12">
    <!--<div class="row">
      <label>
        Finished: <label class="font-italic">{{ gameDetails?.finished }}</label>
      </label>
    </div>-->
    <!-- dealer -->
    <div class="row justify-content-center">
      <div class="col-sm-2">
        <label class="d-block m-0 font-weight-bold">{{ getDealer().name }} </label>
        <h4 *ngIf="dealerHasBlackJackOrLose()"><span class="badge badge-dark"> {{ getStatus(getDealer().status) }}</span></h4>
        <label class="d-block m-0">Points: <label class="font-italic m-0">{{ getDealer().points }}</label></label>
      </div>
      <div class="col-sm-6">
        <app-playing-cards [cards]="getDealer().cards"></app-playing-cards>
      </div>
    </div>
    <!-- players -->
    <div class="row pt-5 mt-5">
      <div class="col" *ngFor="let player of getPlayers()">
        <div class="col-sm">
          <label class="d-block m-0 font-weight-bold">{{ player.name }} </label>
          <h4 *ngIf="gameDetails?.finished" ><span class="badge badge-dark"> {{ getStatus(player.status) }}</span></h4>
          <label class="d-block m-0">Points: <label class="font-italic m-0">{{ player.points }}</label></label>
        </div>
        <div class="col-sm">
          <app-playing-cards [cards]="player.cards"></app-playing-cards>
        </div>
      </div>
    </div>
    <!-- buttons -->
    <div class="row justify-content-center pb-5 mb-5">
      <div class="col-xs-12">
        <div *ngIf='!gameDetails?.finished'>
          <div class="btn-group" *ngIf='!needInsure'>
            <button class="btn btn-dark" [disabled]="loading" (click)='onHitClick()'>Hit</button>
            <button class="btn btn-dark" [disabled]="loading" (click)='onStandClick()'>Stand</button>
          </div>
          <div *ngIf='needInsure'>
            <label>Insurance?</label>
            <div class="btn-group ml-5">
              <button class="btn btn-dark" [disabled]="loading" (click)='onInsuranseClick(true)'>Yes</button>
              <button class="btn btn-dark" [disabled]="loading" (click)='onInsuranseClick(false)'>No</button>
            </div>
          </div>
        </div>
        <button class="btn btn-dark" *ngIf='gameDetails?.finished' [disabled]="loading" (click)='onPlayAgainClick()'>Play again</button>
      </div>
    </div>
  </div>
</div>

